body {
    background-image: linear-gradient(#a7efe9, #7fdfd4, #fbe1b6, #fbac91);
    padding-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 50px;
    border-style: double;
    border-color: white;
    border-width: 20px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#spelling {
    font-size: 30px;
}