body {
    background-image: linear-gradient(#a7efe9, #7fdfd4, #fbe1b6, #fbac91);
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 50px;
    border-style: double;
    border-color: white;
    border-width: 20px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#spelling {
    font-size: 30px;
}

.text {
    margin: auto;
    margin-bottom: 15px;
    width: 80%;
    font-size: 1.5em;
    font-family:Georgia, serif
}

.resources {
    margin: auto;
    margin-bottom: 15px;
    width: 80%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

h2 {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 15px;
    width: 90%;
    font-size: 3em;
    font-family: Verdana, sans-serif;
    color: midnightblue;
}

img {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 10px;
}

#trash-pigeon {
    width: 18%;
}

#emperor-penguins {
    width: 50%;
}

.margin-top {
    margin-top: 50px;
}

.margin-left {
    margin-left: 50px;
}

.line-photos {
    display: inline-block;
    border-radius: 0px;
    margin: 0px;
    height: 40%;
}

#bird-of-paradise {
    width: 20%;
}

iframe {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#moon-knight {
    height: 50%;
}

#slapping-penguin {
    width: 34%;
}